In [1]:
import pandas as pd # Importing the pandas library.

In [2]:
data = pd.read_csv(r"C:\Users\siddh\Downloads\SBIN_Data\SBIN_Data.csv") # Making a dataframe from our CSV data.

In [3]:
data.head() # Printing first 5 rows of out data.

         Date    Open    High     Low   Close  Volume      Time
0  01-01-2024  642.20  642.70  641.00  641.95   89481  09:15:00
1  01-01-2024  641.95  642.85  641.95  642.45   48965  09:16:00
2  01-01-2024  642.70  644.00  642.70  643.50   65729  09:17:00
3  01-01-2024  643.90  644.55  643.30  643.40   47909  09:18:00
4  01-01-2024  643.70  644.10  643.45  643.75   27645  09:19:00

In [4]:
data.info() # Getting information about our dataframe.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8250 entries, 0 to 8249
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    8250 non-null   object
 1   Open    8250 non-null   float64
 2   High    8250 non-null   float64
 3   Low     8250 non-null   float64
 4   Close   8250 non-null   float64
 5   Volume  8250 non-null   int64
 6   Time    8250 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 451.3+ KB

In [5]:
data['Time'] = pd.to_timedelta(data['Time']) # Converting object data type of time column to timedelta.

# Separating values of hours and Minutes from the time column.

data['Time_hours'] = data['Time'].dt.components.hours 
data['Time_minutes'] = data['Time'].dt.components.minutes

In [6]:
data['Date'] = pd.to_datetime(data['Date'], format = '%d-%m-%Y') # Converting object data type of Date column to datetime

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8250 entries, 0 to 8249
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          8250 non-null   datetime64[ns]
 1   Open          8250 non-null   float64
 2   High          8250 non-null   float64
 3   Low           8250 non-null   float64
 4   Close         8250 non-null   float64
 5   Volume        8250 non-null   int64
 6   Time          8250 non-null   timedelta64[ns]
 7   Time_hours    8250 non-null   int64
 8   Time_minutes  8250 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), timedelta64[ns](1)
memory usage: 580.2 KB

In [8]:
data = data.drop('Time', axis = 1) # Droping time column as we have taken its values in hours and minutes column.

In [9]:
data.head()

        Date    Open    High     Low   Close  Volume  Time_hours  Time_minutes
0 2024-01-01  642.20  642.70  641.00  641.95   89481           9            15
1 2024-01-01  641.95  642.85  641.95  642.45   48965           9            16
2 2024-01-01  642.70  644.00  642.70  643.50   65729           9            17
3 2024-01-01  643.90  644.55  643.30  643.40   47909           9            18
4 2024-01-01  643.70  644.10  643.45  643.75   27645           9            19

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8250 entries, 0 to 8249
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          8250 non-null   datetime64[ns]
 1   Open          8250 non-null   float64
 2   High          8250 non-null   float64
 3   Low           8250 non-null   float64
 4   Close         8250 non-null   float64
 5   Volume        8250 non-null   int64
 6   Time_hours    8250 non-null   int64
 7   Time_minutes  8250 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3)
memory usage: 515.8 KB

In [11]:
def calculate_volume_rank(df):
    df['rank'] = 0  # Add a new column 'rank' and initialize it with zeros
      
    for i in range(len(df)):           # Extract current date, hour, minute from the row
        current_date = df.loc[i, 'Date']
        current_time_hours = df.loc[i, 'Time_hours']
        current_time_minutes = df.loc[i, 'Time_minutes']
                
        # Filter data for previous days with the same time slot (hour & minute)
        previous_days_data = df[(df['Date'] < current_date) & (df['Time_hours'] == current_time_hours) & (df['Time_minutes'] == current_time_minutes)].tail(4)
        
        # Check if data for 4 previous days is available# Check if data for 4 previous days is available
        if len(previous_days_data) == 4:

            # Calculate the rank based on how many previous days had higher volume
            rank = (previous_days_data['Volume'] > df.loc[i, 'Volume']).sum() + 1
            df.loc[i, 'rank'] = rank
        else:

            # If data not available, set rank to 0
            df.loc[i, 'rank'] = 0

    # Return the modified dataframe with the 'rank' column     
    return df

In [12]:
df = calculate_volume_rank(data) #Applying the fuction on our dataframe.

In [13]:
df.head() # Dataframe after applying the function with new column Rank.

,Date,Open,High,Low,Close,Volume,Time_hours,Time_minutes,rank
0,2024-01-01,642.20,642.70,641.00,641.95,89481,9,15,0
1,2024-01-01,641.95,642.85,641.95,642.45,48965,9,16,0
2,2024-01-01,642.70,644.00,642.70,643.50,65729,9,17,0
3,2024-01-01,643.90,644.55,643.30,643.40,47909,9,18,0
4,2024-01-01,643.70,644.10,643.45,643.75,27645,9,19,0

In [14]:
df.to_csv("file1.csv") # Saving the data in CSV format.